body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button{
    box-shadow: 0 2px 2px 2px gray;
    border-radius: 5px;
    font-size: 25px;
}
.a{
  width:200px;
  margin-top: 100px;
  border-radius: 20px;
  background-color: rgb(244, 202, 205);
  padding: 10px;
  margin-left: 33%;
  box-shadow: 0 4px 4px 4px gray;
}