body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  font-family: sans-serif;
}

header {
  background-image: url('1.jpg');
  background-size: auto;
 
  color: #fff;
  padding: 20px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 36px;
  margin: 0;
}

button {
  background-color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

#images {
  padding: 50px 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.a {
  width: 100%;
  height: auto;
}
.b{
  width: 100%;
  height:450px;
}
.c{
  width:650px;
  height:100%;
  
}
.d{
  margin-top: -100px;
}


footer {
  background-color: #eee;
  padding: 20px 0;
}

footer p {
  margin: 0;
  font-size: 18px;
}


.a:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.b:hover{
  transform: scale(1.5);
}
.c:hover{
  transform: scale(1.5);
}
.d:hover{
  transform: scale(1.5);
}
.e:hover{
  transform: scale(1.5);
}